{% extends "passagens/base.html" %}
    {% block content %}
        {% if validlink %}
            <p>Confirme sua nova senha</p>
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.new_password1.errors }}
                            <label for="id_new_password1">Nova senha:</label>
                        </td>
                        <td>{{ form.new_passoword1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.errors }} 
                            <label for="id_new_password2">Corfime a nova senha</label>
                        </td>
                        <td>{{ form.new_password2 }}</td> 
                    </tr>    
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Change my password"/>
                        </td>
                    </tr>
                </table>
            </form>
        {% else %}
            <h1>Link de senha é invalido</h1>    
            <p> link para alterar senha é invalido, verifique o link</p>
        {% endif %}
    {% endblock %}        